.wrapper 
  .header
    .header__navi
      %ul
        %li.header__navi--hover
          = link_to root_path do
            = icon('fa', 'book', class: 'icon')
            コース一覧
        -#%li.header__navi--hover
          = link_to '#' do
            = icon('fa', 'search', class: 'icon keyword')
            キーワード検索
    .header__user-show
      = link_to edit_user_path(current_user) do
        = icon('fa', 'user-circle', class: 'icon')
        = current_user.name
  .cotentes
    .page-title
      %h1#page-title Coaching Curriculum
      %h2.hide Coaching Curriculum
    .lessons
      .lesson
        .lesson__top
          .lesson__top__lesson-number
            LESSON 1
          .lesson__top__lesson-title
            %p コーチングとは？
        .lesson__theme
          = link_to "lessons/show" do
            「コーチング」とは
            %span（無料公開）
        .lesson__theme
          = link_to '#' do
            コーチングの意味と価値
            = icon('fa','lock', class: 'icon')
        .lesson__theme
          = link_to '#' do
            コーチのマインドセット
            = icon('fa','lock', class: 'icon')
        .lesson__theme
          = link_to '#' do
            兼ね備えるべき責任感
            = icon('fa','lock', class: 'icon')
        .lesson__theme
          = link_to '#' do
            重要なスキルについて        
            = icon('fa','lock', class: 'icon')  
      .lesson
        .lesson__top
          .lesson__top__lesson-number
            LESSON 2
          .lesson__top__lesson-title
            %p コーチングの基礎
        .lesson__theme
          = link_to '#' do
            コーチングにおけるリソース
            = icon('fa','lock', class: 'icon')
        .lesson__theme
          = link_to '#' do
            コーチングの仕組み
            = icon('fa','lock', class: 'icon')
        .lesson__theme
          = link_to '#' do
            コーチングの効果
            = icon('fa','lock', class: 'icon')
        .lesson__theme
          = link_to '#' do
            コーチングが目指すもの
            = icon('fa','lock', class: 'icon')
      .lesson
        .lesson__top
          .lesson__top__lesson-number
            LESSON 3
          .lesson__top__lesson-title
            %p コーチングの将来性
        .lesson__theme
          = link_to '#' do
            コーチングの市場
            = icon('fa','lock', class: 'icon')
        .lesson__theme
          = link_to '#' do
            コーチングのポジション
            = icon('fa','lock', class: 'icon')
      .lesson
        .lesson__top
          .lesson__top__lesson-number
            LESSON 4
          .lesson__top__lesson-title
            %p コーチングを実践する
        .lesson__theme
          = link_to '#' do
            コーチングが機能する条件
            = icon('fa','lock', class: 'icon')
        .lesson__theme
          = link_to '#' do
            「認める」スキル
            = icon('fa','lock', class: 'icon')
        .lesson__theme
          = link_to '#' do
            「聴く」スキル
            = icon('fa','lock', class: 'icon')
        .lesson__theme
          = link_to '#' do
            「質問する」スキル
            = icon('fa','lock', class: 'icon')
        .lesson__theme
          = link_to '#' do
            「フィーバックする」スキル
            = icon('fa','lock', class: 'icon')
        .lesson__theme
          = link_to '#' do
            ティーチングについて
            = icon('fa','lock', class: 'icon')      
      .lesson
        .lesson__top
          .lesson__top__lesson-number
            LESSON 5
          .lesson__top__lesson-title
            %p クライアントとの関係性
        .lesson__theme
          = link_to '#' do
            言葉以外も聴く
            = icon('fa','lock', class: 'icon')
        .lesson__theme
          = link_to '#' do
            自己基盤を固める
            = icon('fa','lock', class: 'icon')
        .lesson__theme
          = link_to '#' do
            フィードバックを躊躇しない
            = icon('fa','lock', class: 'icon')
        .lesson__theme
          = link_to '#' do
            直感に従って言語化する
            = icon('fa','lock', class: 'icon')
        .lesson__theme
          = link_to '#' do
            良好な関係を構築する   
            = icon('fa','lock', class: 'icon')
      .lesson
        .lesson__top
          .lesson__top__lesson-number
            LESSON 6
          .lesson__top__lesson-title
            %p いざ、コーチへ！
        .lesson__theme
          = link_to '#' do
            フォローセッションについて
            = icon('fa','lock', class: 'icon')
        .lesson__theme
          = link_to '#' do
            個人の取り組み
            = icon('fa','lock', class: 'icon')
        .lesson__theme
          = link_to '#' do
            スキルを定着させる方法    
            = icon('fa','lock', class: 'icon') 
        .lesson__theme
          = link_to '#' do
            実践あるのみ          
            = icon('fa','lock', class: 'icon')                          
  .form#question-box
    .image
      = icon('fa', 'edit', class: 'icon')
    .text 
      %h3 クリックで質問フォームを表示
    .question-modal#question-modal
      .modal
        .close-modal
          = icon('fa','fa-2x', class: 'fa-times')
        .question-form
          %h2 質問フォーム
          %form(action="#")
            %input.form-control{type: "text",placeholder: "メールアドレス"}/
            %input.form-control{type: "text",placeholder: "質問テーマ"}/
            %textarea.form-control{rows: "8",placeholder: "質問内容"}
            %div#submit-btn 送信する