.wrapper 
  .header
    .header__navi
      %ul
        %li 
          = link_to '#' do
            = icon('fa', 'book', class: 'icon')
            コース一覧
        %li 
          = link_to '#' do
            = icon('fa', 'search', class: 'icon')
            キーワード検索
    .header__user-show
      = link_to edit_user_path(current_user) do
        = icon('fa', 'user-circle', class: 'icon')
        = current_user.name
  .cotentes
    .page-title
      %h1 Coaching Curriculum
    .lessons
      .lesson
        .lesson__top
          .lesson__top__lesson-number
            LESSON 1
          .lesson__top__lesson-title
            %p コーチングとは？
        .lesson__theme
          = link_to '#' do
            コーチングの意味
        .lesson__theme
          = link_to '#' do
            コーチングの価値
        .lesson__theme
          = link_to '#' do
            コーチのマインドセット
        .lesson__theme
          = link_to '#' do
            兼ね備えるべき意識と責任感
        .lesson__theme
          = link_to '#' do
            重要なスキルについて          
      .lesson
        .lesson__top
          .lesson__top__lesson-number
            LESSON 2
          .lesson__top__lesson-title
            %p コーチに求められるスキル
        .lesson__theme
          = link_to '#' do
            コーチングの意味
        .lesson__theme
          = link_to '#' do
            コーチングの価値
        .lesson__theme
          = link_to '#' do
            コーチのマインドセット
        .lesson__theme
          = link_to '#' do
            兼ね備えるべき意識と責任感 
      .lesson
        .lesson__top
          .lesson__top__lesson-number
            LESSON 3
          .lesson__top__lesson-title
            %p コーチングの将来性
        .lesson__theme
          = link_to '#' do
            コーチングの意味
        .lesson__theme
          = link_to '#' do
            コーチングの価値
      .lesson
        .lesson__top
          .lesson__top__lesson-number
            LESSON 4
          .lesson__top__lesson-title
            %p コーチングを実践する
        .lesson__theme
          = link_to '#' do
            コーチングの意味
        .lesson__theme
          = link_to '#' do
            コーチングの価値
        .lesson__theme
          = link_to '#' do
            コーチのマインドセット
        .lesson__theme
          = link_to '#' do
            兼ね備えるべき意識と責任感 
        .lesson__theme
          = link_to '#' do
            重要なスキルについて
        .lesson__theme
          = link_to '#' do
            コーチングとティーチングの違い         
      .lesson
        .lesson__top
          .lesson__top__lesson-number
            LESSON 5
          .lesson__top__lesson-title
            %p クライアントとの関係性
        .lesson__theme
          = link_to '#' do
            コーチングの意味
        .lesson__theme
          = link_to '#' do
            コーチングの価値
        .lesson__theme
          = link_to '#' do
            コーチのマインドセット
        .lesson__theme
          = link_to '#' do
            兼ね備えるべき意識と責任感
      .lesson
        .lesson__top
          .lesson__top__lesson-number
            LESSON 6
          .lesson__top__lesson-title
            %p いざ、コーチへ！
        .lesson__theme
          = link_to '#' do
            コーチングの意味
        .lesson__theme
          = link_to '#' do
            コーチングの価値
        .lesson__theme
          = link_to '#' do
            コーチのマインドセット
        .lesson__theme
          = link_to '#' do
            兼ね備えるべき意識と責任感                                               
  .form
    .image
      = icon('fa', 'edit', class: 'icon')
    .text 
      %h3 質問ボックス